.main {
  min-height: calc(100vh - 30px);
}

.banner-text {
  font-family: cursive;
  color: #0394cb !important;
  font-size: 60px;
}

.banner-img {
  box-shadow: 0 20px 80px 0 rgb(0 0 0 / 45%);
}

.auth-container {
  max-width: 360px;
  margin: 0 auto;
}
